.event-grid-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* left: calc(50% - 60px); */
}

/* .event-grid {
  width: 70vw;
  margin: 0px 15vw;
  display: grid;
  justify-content: space-between;
  grid-gap: 10px;
  grid-auto-flow: column;
  margin-bottom: 100px;
} */

.main-event-wrapper {
}

.events-wrapper {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  border-radius: 25px 25px 25px 25px;
  width: 20vw;
  min-width: 380px;
  background-color: #fbebc3;
  opacity: 0.85;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.card-body {
  background-color: #e9e9e9;
  /* background-color: transparent; */
}
.card-img-top {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 0.7;
}

.card:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  /* color: lightyellow; */
  --color1: rgb(255, 217, 0);
  --color2: orange;
  --color3: brown;
  --color4: purple;
  --interval: 1s;
  box-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.event-grid:nth-of-type(3n) {
  width: 44.5vw;
}

.card-title {
  font-family: "Cabin Sketch", cursive;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.btn {
  background-color: none;
  border: 1px solid #280c44;
  display: no;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.btn:hover {
  transform: translateY(-2px);
  /* color: lightyellow; */
  --color1: rgb(255, 217, 0);
  --color2: orange;
  --color3: brown;
  --color4: purple;
  --interval: 1s;
  box-shadow: 0 0 1px var(--color1), 0 0 2px var(--color2),
    0 0 4px var(--color3), 0 0 8px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.heading {
  font-family: "Bubblegum Sans", cursive;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 7rem;
  letter-spacing: 5px;
  /* left: calc(50% - 60px); */
}

#content {
  position: absolute;
  padding: 5px;
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#content.clicked {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.event-modal {
  color: black;
}

.event-modal-title {
  font-size: 25px;
  margin: 15px;
  font-family: "Overpass", sans-serif;
}

.event-modal-body {
  margin: 15px;
  font-size: 16px;
  font-family: "Bitter", serif;
}

@media screen and (max-width: 768px) {
  .heading {
    padding: 10px 0;
    font-size: 5rem;
  }
  .card {
    width: 40vw;
  }
}

@media screen and (max-width: 415px) {
  .card {
    width: 250px;
  }
  .event-modal-title {
    margin: 5px;
    font-size: 18px;
  }

  .event-modal-body {
    margin: 5px;
    font-size: 12px;
  }
  .heading {
    fz4rem
  }
}
