.body {
  margin: 0;
  padding: 0;
}

.team-container {
  margin: 0;
}

.naadLogo{
    margin: 20px 0px;
    padding: 0 5px;
  }

.container {
  margin-top: 8%;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.15);
}

.purple {
  background-color: rgb(43, 9, 75);
  background-image: url("img/backgrounds/Team_BG.png");
}

.golden {
  background-color: #c7f688;
}

.icon-cog {
  color: black;
}

.heading {
  margin: 0;
}

.text {
  font-size: 7rem;
  background: linear-gradient(to right, #9374ed 0%, #cebfe0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 458px) {
  .text {
    font-size: 4rem;
  }

  .container {
    width: 80%;
  }

  .frame {
    padding-left: 7%;
  }
}

.card-title {
    /* color: #2b127f; */
    color: black;
    font-family: 'Shizuru', cursive;
    font-weight: 600;
}

.card-text {
    color: black;
}

.frame {
    padding-left: 8%;
}